PORT=8787
FRONTEND_ORIGIN=http://127.0.0.1:5500

BENKO_RESERVATION_EMAIL=reservas@benkotour.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu-correo@dominio.com
SMTP_PASS=tu-password-o-app-password
SMTP_FROM="Benko Tour <tu-correo@dominio.com>"

WOMPI_PUBLIC_KEY=pub_prod_xxxxx
WOMPI_INTEGRITY_SECRET=prod_integrity_xxxxx
WOMPI_REDIRECT_URL=http://127.0.0.1:5500/index.html#reservas

MP_ACCESS_TOKEN=APP_USR-xxxx
MP_SUCCESS_URL=http://127.0.0.1:5500/index.html#reservas
MP_FAILURE_URL=http://127.0.0.1:5500/index.html#reservas
MP_PENDING_URL=http://127.0.0.1:5500/index.html#reservas
